# Dependencies
node_modules/
package-lock.json

# Builds
build/
dist/
out/
*.jar
!releases/**/*.jar

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store
*.log

# Minecraft run directory
minecraft-mod/run/
